apiVersion: v1
kind: Secret
metadata:
  name: {{ secret_name }}
  namespace: {{ weka_namespace }}
type: Opaque
data:
  username: {{ encoded_username }}
  password: {{ encoded_password }}
  endpoints: {{ encoded_endpoints }}
  organization: Um9vdA==
  scheme: aHR0cA==
  autoUpdateEndpoints: ZmFsc2U=
  localContainerName: ""
  nfsTargetIps: ""
  caCertificate: ""
